aiodns==1.1.1
aiohttp==3.6.2
appdirs==1.4.3
async-timeout==3.0.1
attrdict==2.0.1
attrs==19.3.0
base58==1.0.3
ccxt==1.22.34
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
Click==7.0
cryptography==2.8
cytoolz==0.10.1
dictools==0.1.1
distlib==0.3.0
eth-abi==2.1.0
eth-account==0.4.0
eth-hash==0.2.0
eth-keyfile==0.5.1
eth-keys==0.2.4
eth-rlp==0.1.2
eth-typing==2.2.1
eth-utils==1.8.4
filelock==3.0.12
Flask==1.1.1
Flask-SQLAlchemy==2.4.1
hexbytes==0.2.0
idna==2.8
idna-ssl==1.1.0
importlib-metadata==0.23
importlib-resources==1.0.2
ipfshttpclient==0.4.12
itsdangerous==1.1.0
Jinja2==2.11.1
jsonschema==3.2.0
lru-dict==1.1.6
MarkupSafe==1.1.1
more-itertools==7.2.0
multiaddr==0.0.8
multidict==4.7.4
mypy-extensions==0.4.3
netaddr==0.7.19
parsimonious==0.8.1
pipenv==2018.11.26
protobuf==3.18.3
psycopg2==2.8.4
py-solc==3.2.0
py-solc-x==0.7.2
pycares==3.1.1
pycoin==0.90.20190728
pycparser==2.19
pycryptodome==3.9.4
PyMySQL==0.9.3
pyotp==2.3.0
pypiwin32==223
pyrsistent==0.15.6
pywin32==227
requests==2.22.0
rlp==1.2.0
semantic-version==2.8.4
six==1.13.0
SQLAlchemy==1.3.13
toolz==0.10.0
typing-extensions==3.7.4.1
urllib3==1.25.7
varint==1.0.2
virtualenv==20.0.4
virtualenv-clone==0.5.3
web3==5.5.1
websockets==8.1
Werkzeug==0.16.1
yarl==1.1.0
zipp==0.6.0
